@page "/"




<div class="container-home">

    <div class="profile_image">

    </div>

  
    <div class="bio">


        <h3 class="m-5">Hi, I'm Merehaw!</h3>
        <p>
            I am a web Developer. <br />I enjoy designing and creating beautiful tools for the web. <br />
            I use:




            <ul>
                <li>HTML, CSS</li>
                <li>JS</li>
                <li>C#</li>
                <li>Java</li>
                <li>.NET</li>
                <li>Blazor</li>

            </ul>
        </p>
        <div class=" flex-row ">
            <NavLink href="https://www.linkedin.com/in/merehaw-zerie/">
                <img style="width:1.5em;height:1.5em" src="/css/pics/linkedin.png" alt="Linkedin_logo" />
            </NavLink>

            <NavLink href="https://github.com/zeriehub">
                <img style="width:1.5em;height:1.5em" src="/css/pics/github_logo.png" alt="Github_Logo" />
            </NavLink>
        </div>

    </div>


</div>

