@page "/Todo"
@inject ITodoHandler TodoHandler;



<div class="underlying-card">

    <div class="priority-0">


    </div>


    <button @onclick="TodoHandler.ShowInputCard" class="btn"><i class=" bi-plus-square-dotted bg-white icon"></i></button>

    <div class="priority-1" >
        <div >
            @foreach (string item in TodoHandler.TodoItems)
            {
                <div>@item</div>
            }


        </div>
    <button type="button" class="todo-btn btn btn-outline-primary" ><i class="bi bi-plus"></i></button>
    </div>

</div>


        <div class="position-absolute font-weight-bold mt-4">
            <i class="bi bi-exclamation-circle-fill"></i>
            This Page is under maintenance
        </div>
