



    <nav class="navbar navbar-expand-lg navbar-light bg-light container ">
      
        <ul class="navbar-nav ">

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <strong> Home</strong>
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="FutureValue">
                    <strong>Future Value</strong>
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Comic">
                    <strong>Comic</strong>
                </NavLink>
            </li>


            <li class="nav-item px-3">
                <NavLink class="nav-link" href="todo">
                    <strong> To-do</strong>
                </NavLink>
            </li>


            

        </ul>


    </nav>

